<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.server.house.mapper.HouseMapper">

    <!-- HouseDealResponseDto에 맞는 resultMap 정의 -->
    <resultMap id="HouseDealResponseMap" type="com.ssafy.server.house.dto.HouseDealResponseDto">
        <result property="aptSeq" column="apt_seq"/>
        <result property="aptNm" column="apt_nm"/>
        <result property="floor" column="floor"/>
        <result property="excluUseAr" column="exclu_use_ar"/>
        <result property="dealAmount" column="deal_amount"/>
        <result property="dealYear" column="deal_year"/>
        <result property="dealMonth" column="deal_month"/>
        <result property="dealDay" column="deal_day"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
    </resultMap>
    
    <resultMap id="ApartmentInfoMap" type="com.ssafy.server.house.dto.ApartmentInfoDto">
        <result property="aptSeq" column="apt_seq"/>
        <result property="aptNm" column="apt_nm"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <result property="dongNm" column="umd_nm"/>
    </resultMap>

    <!-- DealInfoDto에 맞는 resultMap 정의 -->
    <resultMap id="DealInfoMap" type="com.ssafy.server.house.dto.DealInfoDto">
        <result property="floor" column="floor"/>
        <result property="excluUseAr" column="exclu_use_ar"/>
        <result property="dealAmount" column="deal_amount"/>
        <result property="dealDate" column="deal_date"/>
    </resultMap>
    
    
    <!-- 아파트 기본 정보 조회 -->
    <select id="getApartmentInfo" parameterType="string" resultMap="ApartmentInfoMap">
        SELECT 
            apt_seq,
            apt_nm,
            latitude,
            longitude,
            umd_nm
        FROM 
            houseinfos
        WHERE 
            apt_seq = #{aptSeq};
    </select>

    <!-- 아파트 거래 정보 조회 -->
    <select id="getDealInfo" parameterType="string" resultMap="DealInfoMap">
        SELECT 
            floor,
            exclu_use_ar,
            deal_amount,
            CONCAT(deal_year, '-', LPAD(deal_month, 2, '0'), '-', LPAD(deal_day, 2, '0')) AS deal_date
        FROM 
            latest_housedeals
        WHERE 
            apt_seq = #{aptSeq}
        ORDER BY 
            deal_year DESC, 
            deal_month DESC, 
            deal_day DESC;
    </select>

    <!-- 동코드로 아파트 실거래 정보 조회 -->
    <select id="getDealsByDong" parameterType="string" resultMap="HouseDealResponseMap">
        SELECT 
        	hi.apt_seq,
	        hi.apt_nm, 
	        lhd.floor, 
	        lhd.exclu_use_ar,
	        lhd.deal_amount,
	        lhd.deal_year,
	        lhd.deal_month,
	        lhd.deal_day,
	        hi.latitude,
	        hi.longitude
	    FROM 
	        latest_housedeals lhd
	    JOIN 
	        houseinfos hi ON lhd.apt_seq = hi.apt_seq
	    WHERE 
	        hi.dong_code = #{dongCode};
    </select>

    <!-- 특정 아파트 이름으로 실거래 정보 조회 -->
    <select id="getDealsByAptName" parameterType="string" resultMap="HouseDealResponseMap">
        SELECT 
        	hi.apt_seq,
	        hi.apt_nm, 
	        lhd.floor, 
	        lhd.exclu_use_ar,
	        lhd.deal_amount,
	        lhd.deal_year,
	        lhd.deal_month,
	        lhd.deal_day,
	        hi.latitude,
	        hi.longitude
	    FROM 
	        latest_housedeals lhd
	    JOIN 
	        houseinfos hi ON lhd.apt_seq = hi.apt_seq
	    JOIN 
	        dongcodes dc ON hi.umd_nm = dc.dong_name
	    WHERE 
	        hi.apt_nm LIKE CONCAT('%', #{aptName}, '%')
    </select>

	<!-- 동 코드 & 아파트 이름으로 실거래 정보 조회 -->
    <select id="getDealsByDongAndAptName" parameterType="string" resultMap="HouseDealResponseMap">
        SELECT 
        	hi.apt_seq,
		    hi.apt_nm, 
		    lhd.floor, 
		    lhd.exclu_use_ar, 
		    lhd.deal_amount, 
		    lhd.deal_year, 
		    lhd.deal_month, 
		    lhd.deal_day, 
		    hi.latitude, 
		    hi.longitude
		FROM 
		    latest_housedeals lhd
		JOIN 
		    houseinfos hi ON lhd.apt_seq = hi.apt_seq
		WHERE 
		    hi.dong_code = #{dongCode}
		    AND hi.apt_nm LIKE CONCAT('%', #{aptName}, '%')
    </select>
	

    <!-- 동코드로 시, 군, 동 정보 조회 -->
    <select id="getAddress" parameterType="string" resultType="string">
        SELECT 
            CONCAT(sido_name, ' ', gugun_name, ' ', dong_name) AS address
        FROM 
            dongcodes
        WHERE 
            dong_code = #{dongCode};
    </select>
    

</mapper>
