<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.server.member.mapper.MemberMapper">

	<resultMap id="member" type="com.ssafy.server.member.dto.MemberInfoDto">
		<result column="user_id" property="userId"/>
		<result column="user_name" property="userName"/>
		<result column="user_pwd" property="userPwd"/>
		<result column="email_id" property="emailId"/>
		<result column="email_domain" property="emailDomain"/>
	</resultMap>

	<select id="login" parameterType="map" resultMap="member">
		select user_id, user_name, token
		from members
		where user_id = #{userId} and user_pwd = #{userPwd}
	</select>

	<insert id="register" parameterType="map">
		INSERT INTO members (user_id, user_name, user_pwd, email_id, email_domain, join_date)
		VALUES (#{userId}, #{userName}, #{userPwd}, #{emailId}, #{emailDomain}, NOW());
	</insert>

	<select id="userInfo" parameterType="string" resultMap="member">
		select user_name, user_id, email_id, email_domain, join_date
		from members
		where user_id = #{userId}
	</select>
	
	<update id="updateUserInfo" parameterType="map">
		UPDATE members
        SET
            user_name = #{userName},
            user_pwd = #{userPwd},
            email_id = #{emailId},
            email_domain = #{emailDomain}
        WHERE
            user_id = #{userId}
	</update>
 	

	<update id="saveRefreshToken" parameterType="map">
		update members
		set token = #{token}
		where user_id = #{userId}
	</update>

	<select id="getRefreshToken" parameterType="string" resultType="string">
		select token
		from members
		where user_id = #{userId}
	</select>

	<update id="deleteRefreshToken" parameterType="map">
		update members
		set token = #{token, jdbcType=VARCHAR}
		where user_id = #{userId}
	</update>

</mapper>