@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

#app {
  max-width: 2560px;
  margin: 0 auto;
  padding: 0 auto;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0rem;
  }
}

/* 로고를 제외한 모든 링크에 대한 스타일 */
a:not(.text-orange-500) {
  color: inherit !important;
  text-decoration: none !important;
}

a:not(.text-orange-500):hover {
  color: inherit !important;
  background-color: transparent !important;
}

a:not(.text-orange-500):visited {
  color: inherit !important;
}

a:not(.text-orange-500):focus {
  color: inherit !important;
  outline: none !important;
}
